body{
    background-color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat:repeat-y;
    background-image: url('disney-movies.jpg');
    background-size: 100%;
}

.container{
    text-align: left;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5%;
    margin-top:5%;
    width:50%;
    position:absolute;
    left:20%;
    height:auto;
}

ul{
    list-style-type: none;
}



