body, html{ 
    background-color: black;
    overflow-y: hidden;
    background-image: url('disney-movies.jpg');
    background-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    position:absolute;
    left:25%;
    right:25%;
    margin-top:25px;
    width:50%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
   
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover {
  background-color: #45a049;
}

h1{
  text-align: center;
  margin-bottom: 5px;


}
h2{
  text-align: left ;
  margin-bottom: 5px;
  margin-top:5px ;
}

#redirect{
  background-color: #4c65af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#redirect:hover {
  background-color: #6945a0;
}

.error {
  color:rgb(212, 48, 48);
  font-weight: bold;
}

.Terug {
  color:white;
  position:absolute;
  font-size:24px;
  padding-left: 24px;
  text-decoration: none;
}
.Uitloggen {
  color:rgb(212, 31, 31);
  position:top;
  font-size:24px;
  padding-left: 80px;
  text-decoration: none;
}