body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    overflow-y: hidden;
    z-index:0;
    background-color: black;
    background-image: url('disney-movies.jpg');
    background-size:100%;
}

h1{
    padding-top: 160px;
    margin-bottom: 0px;
    font-size: 80px;
    color:white;
}

p{
    margin-top: 0px;
    font-size: 15px;
    color:white;
    font-weight: 500;
}

.LijstKnop{
    font-size:20px;
    color:white;
    position: absolute;
    left:30%;
    top:55%;
    background-color:rgba(0, 0, 0, 0.367);
    padding:15px;
}

.InlogKnop{
    font-size:20px;
    color:white;
    position: absolute;
    left:46%;
    top:55%;
    background-color:rgba(0, 0, 0, 0.367);
    padding:15px;
}

.InfoKnop{
    font-size:20px;
    color:white;
    position: absolute;
    left:62%;
    top:55%;
    background-color:rgba(0, 0, 0, 0.367);
    padding:15px;
}

.Credits{
    color:white;
    text-align: left;
    position: absolute;
    top:93%;
}


.addfilm {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }