body{
    background-color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color:white;
    position:absolute;
    left:5%;
}

p{
    color:white;
    position:absolute;
    left:5%;
    top:10%;
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:-1;
    filter:brightness(0.3);
    max-width: 100%;
    max-height: 100%;
}