<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Add.css')}}">
    <title>MovieMania Film Toevoegen</title>
</head>
    <body>
        <div class="container">
            <form method="POST">
                {{form.hidden_tag()}}
                <label for="Titel"><b>Film Titel</b></label>
                <input type="text" placeholder="Voer de titel van de film in" name="Titel" required>
                <br>
                <label for="Jaar"><b>Jaar Uitgave</b></label>
                <input type="text" placeholder="Voer het jaar van de film in" name="Jaar" required>
                <br>
                <label for="Genre"><b>Genre</b></label>
                <input type="text" placeholder="Voer het genre van de film in" name="Genre" required>
                <br>
                <label for="Lengte"><b>Lengte</b></label>
                <input type="text" placeholder="Voer de Lengte van de film in" name="Lengte" required>
                <br>
                <label for="Description"><b>Film Beschrijving</b></label>
                <textarea type="text" placeholder="Voer een beschrijving van de film in" name="Description" required></textarea>
                <br>
                <label for="Rating"><b>Rating</b></label>
                <input type="text" placeholder="Voer de Rating van de film in" name="Rating" required>
                <br>
                <label for="Imglink"><b>Image</b></label>
                <input type="text" placeholder="Voer het Image-Adres in van de filmposter" name="Imglink" required>
                <br>
                <button type="submit">Voeg toe</button>
            </form>
        </div>
    </body>
</html>