<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registratie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">
</head>
<body>
    
    <div class="container">
        <h1>Welkom, maak hier uw account</h1>
        <form method="POST" action="/Registratie">
            {{form.hidden_tag()}}
            <label for="name"><b>Naam</b></label>
            <input type="text" placeholder="Voer uw gebruikersnaam in" id="Name" name="name" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Voer uw email in" name="email" required>

            <label for="password"><b>Wachtwoord</b></label>
            <input type="password" placeholder="Voer uw wachtwoord in" name="password" required>

            <label for="confirm-password"><b> Herhaal uw wachtwoord</b> </label>
            <input type="password" placeholder="Bevestig uw wachtwoord" name="confirm-password" required>
            <button type="submit">Registreren</button>
        <h2>Al een account?</h2> <a href="{{ url_for('Login')}}"> <button type="button" id="redirect" >Klik hier om in te loggen </button></a>
        </form>
    </div>
    
</body>
</html>