<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informatie</title>
    <link rel="stylesheet" href="C:\Users\karsh\Documents\Scripts\ProjectWebTech\static\Info.css">
</head>
<body>
    <div class="container">
        <h1>Informatie over Movie Mania</h1>
        <p>
            Hier komt nog informatie over de site wat er nu dus nog niet staat <br>
            Filler tekst hoi hoi doei doei hoe gaat het vandaag <br>
            met mij gaat het prima maar ik weet het niet heel zeker Kars Hekman <br>
            Morgen gaat het beter want mijn laptop repareerd zichzelf. <br>
            Doei.
        </p>
        <a href="Main.html">Terug</a>
    </div>
</body>
</html>