<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Lijst.css') }}">
    <title>MovieMania Films</title>
</head>
<body>
    <div class="container">
        <h1>De Films</h1>
        <ul class="FilmLijst">
            <li>
                <img src="{{url_for('static', filename='TopGunM.jpg')}}" alt="" class="LijstPicture">
                <h2>Top Gun Maverick</h2>
                <p class="ExtraInfo">PG-13 2022, Action/Adventure, 2h 11m</p>
                <p>
                    Na meer dan dertig jaar dienst als een van de Top Gun-piloten voelt Pete “Maverick” Mitchell (Tom Cruise) zich nog altijd op zijn plek bij de Marine. 
                    <br>
                    Hij zoekt als moedige testpiloot altijd zijn grenzen op en hij ontwijkt de promoties waardoor hij niet meer zou kunnen vliegen.
                </p>
                <p class="Rating">99% Audience Score</p>
            </li>
            <li>
                <img src="{{url_for('static', filename='Cars2006.jpg')}}" alt="" class="LijstPicture">
                <h2>Cars</h2>
                <p class="ExtraInfo">All Ages 2006, Animation/Family, 1h 57m</p>
                <p>
                    Lightning McQueen is een ambitieuze nieuweling in de racewereld die onderweg is naar de finale van de Pistons Cup in Californië. 
                    <br>
                    Wanneer hij onverwachts een omweg moet ontdekt hij dat het leven niet om de finishlijn gaat maar om de reis.
                <p class="Rating">80% Audience Score</p>
            </li>
        </ul>
    </div>
</body>
</html>